<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e_robotiq">

	<!-- This xacro file combines the UR3e collaborative robotic arm, the
		Robotiq 2F-85 gripper and a simplified version of the Realsense L515 Camera. -->

    <!-- Include macros for the UR3e and the Robotiq 2f-85 gripper -->
    <xacro:include filename="$(find ur_custom_description)/urdf/mech/ur3e_urdf.xacro" />
    <xacro:include filename="$(find ur_custom_description)/urdf/mech/robotiq_2f_85_urdf.xacro" />
    <xacro:include filename="$(find ur_custom_description)/urdf/sensors/realsense_L515_urdf.xacro" />

</robot>