<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="parent" default="tool0"/>

    <joint name="camera_joint" type="fixed">
      <parent link="$(arg prefix)$(arg parent)"/>
      <child link="camera" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="camera">
      <visual>
        <origin rpy="0 0 0" xyz="0 -0.07 0.01"/>
        <geometry>
          <box size="0.05 0.05 0.05" />
        </geometry>
        <material name="silver">
          <color rgba="0.600 0.600 0.600 1.000"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 -0.07 0.01"/>
        <geometry>
          <box size="0.08 0.08 0.08" />
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 -0.01"/>
        <geometry>
          <cylinder radius="0.04" length="0.015"/>
        </geometry>
        <material name="silver">
          <color rgba="0.600 0.600 0.600 1.000"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 -0.01"/>
        <geometry>
          <cylinder radius="0.06" length="0.05"/>
        </geometry>
      </collision>
    </link>

</robot>