<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_camera" default="true"/>
  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="prefix" default=""/>

  <xacro:if value="${'true' == '$(arg use_camera)' and 'true' == '$(arg use_gazebo)'}">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:property name="l515_cam_width" value="0.061"/>
  <xacro:property name="l515_cam_height" value="0.061"/>
  <xacro:property name="l515_cam_depth" value="0.026"/>

  <xacro:property name="l515_cam_depth_to_infra_offset" value="0.0"/>
  <xacro:property name="l515_cam_depth_to_color_offset" value="0.012"/>


    <joint name="camera_joint" type="fixed">
      <parent link="tool0"/>
      <child link="camera" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="camera">
      <visual>
        <origin rpy="0 0 0" xyz="0 -0.07 -0.01"/>
        <geometry>
          <mesh filename="package://ur_custom_description/meshes/realsense_l515/Intel_RealSense_L515.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="aluminum">
          <color rgba="0.5 0.5 0.5 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 -0.07 -0.01"/>
        <geometry>
          <box size="${l515_cam_depth} ${l515_cam_width} ${l515_cam_height}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.095" />
        <origin rpy="0 0 0" xyz="0 -0.07 -0.01"/>
        <inertia ixx="0.000044" ixy="0.0" ixz="0.0" iyy="0.000027" iyz="0.0" izz="0.000027" />
      </inertial>
    </link>

    <joint name="camera_depth_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="camera"/>
      <child link="camera_depth_frame" />
    </joint>
    <link name="camera_depth_frame"/>

    <joint name="camera_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="camera_depth_frame" />
      <child link="camera_depth_optical_frame" />
    </joint>
    <link name="camera_depth_optical_frame"/>

    <joint name="camera_infra_joint" type="fixed">
      <origin xyz="0 ${l515_cam_depth_to_infra_offset} 0" rpy="0 0 0" />
      <parent link="camera" />
      <child link="camera_infra_frame" />
    </joint>
    <link name="camera_infra_frame"/>

    <joint name="camera_infra_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="camera_infra_frame" />
      <child link="camera_infra_optical_frame" />
    </joint>
    <link name="camera_infra_optical_frame"/>

    <joint name="camera_color_joint" type="fixed">
      <origin xyz="0 ${l515_cam_depth_to_color_offset} 0" rpy="0 0 0" />
      <parent link="camera" />
      <child link="camera_color_frame" />
    </joint>
    <link name="camera_color_frame"/>

    <joint name="camera_color_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="camera_color_frame" />
      <child link="camera_color_optical_frame" />
    </joint>
    <link name="camera_color_optical_frame"/>

    <gazebo reference="camera">
      <sensor name="camera_rgbd" type="rgbd_camera">
        <camera>
          <horizontal_fov>1.5184</horizontal_fov>
          <image>
            <width>1920</width>
            <height>1080</height>
          </image>
          <clip>
            <near>0.25</near>
            <far>9</far>
          </clip>
        </camera>
        <always_on>1</always_on>
        <gz_frame_id>camera_head_link</gz_frame_id>
        <topic>camera_head</topic>
        <update_rate>5</update_rate>
        <visualize>true</visualize>
      </sensor>
    </gazebo>

  </xacro:if>


</robot>